<a href="https://colab.research.google.com/github/MalikAwaisMuhammad/FirstProgram/blob/master/Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def sayhi():
    print ("Hello User")
sayhi()

def say_hello(name):
    print ("Hello " + name)
say_hello("Awais")

def hip(name, age):
    print ("Hello " + name + ", You are " + age)
hip("Malik", "23")
hip("Ali", "21")

def hi(name, age):
    print ("Hello " + name + ", You are " + str(age))
hi("Malik", 23)
hi("Ali", 21)


# Return

def cube(num):
    num * num * num
cube(3)
print ("Khan")
print (cube(5))

def cube(num):
    return num * num * num
cube(3)

Hello User
Hello Awais
Hello Malik, You are 23
Hello Ali, You are 21
Hello Malik, You are 23
Hello Ali, You are 21
Khan
None

27

In [0]:
num1 = input("Enter a number: ")
num2 = input("Enter another number: ")
result = float(num1) + float(num2)
print(result)

In [0]:
Name       = "Engr Muhammad Owais"
Father     = "Muhammad Hussain"
University = "Bahria University"

message = """
            PIAIC ISLAMABAD BATCH 3
            Name: {}
            Father: {}
            University: {}
            """.format(Name, Father, University)

print (message)

Name       = "Bilal Saeed"
Father     = "Abdur Rafae"
University = "Bahria University"

message = """
            PIAIC ISLAMABAD BATCH 3
            Name: {}
            Father: {}
            University: {}
            """.format(Name, Father, University)

print (message)

In [0]:
if 2 > 1:
    print("The statement is true")
else:
    print("The statement is false")

In [0]:
a = input("What is your Name: ")

print(a)

print("Your name is awais")

In [0]:
num = 1

while num <= 10:
    print(num)
    num += 1

In [0]:
d = 1

while d <= 2:
    print("alif: %s " + %(d) )
    d +=1

In [0]:
print("My name is: %s")

In [0]:
a = "Owais"
print ("My Name is: " + a)

In [0]:
for i in range (1, 10):
    print (i)

In [0]:
# small parenthesis like below are tuples => these are immutable (can't be changed)
ar = ("Engineer", "Hafiz", "Malik", "Muhammad", "Awais", "Awan")

print(ar[1:4])

Coordinates = (3,5)
as = [(3, 6), (8, 2), (3, 5)]       # Tuples in Lists

# We usually use lists

In [0]:
name = "Muhammad Awais"
print (name.upper())
print (name.lower())
print (name.isupper())
print (name.capitalize())
print (name.upper().isupper())
print (len(name))
print (name[0:2])
print (name.index("m"))
print (name.replace("uhammad", "usa"))

In [0]:
print ( (10 % 4) /2)
print ( 4 * 3 + 2)
print ( 4 * (3 + 2))

In [0]:
num = 4
print (str(num) + " is my favorite Number")

n = 5
m = -3.4
print (n + m)
print (abs(m))
print (pow(3,2))
print (max (5, 4))
print (min (9, 23))
print (round(3.23928))
print (round(m))
print (round (3.8))

from math import *

print (floor (3.8))
print (ceil (3.8))
print (sqrt(4))

In [0]:
br = [34, 874, 28, 485]
print (br[0])
print (br[1])
print (br)

In [0]:
# square parenthesis like below are lists => these are mutable (can be changed)
ar = ["Engineer", "Hafiz", "Malik", "Muhammad", "Awais", "Awan"]

print(ar[1:4])
print(ar[1])
print(ar[-1])
print(ar[4])
ar[4] = "Doctor"
print(ar[4])

In [0]:
# List Functions

Candidates = ["Awais", "Zeba", "Usman", "Aftab", "Ghaffar", "Chinioty"]
Lucky_Nos  = [3, 4, 9, 2, 1, 5]

Candidates.extend(Lucky_Nos)
print(Candidates)

Candidates = ["Awais", "Zeba", "Usman", "Aftab", "Ghaffar", "Chinioty"]
Candidates.append("Naseer")
print(Candidates)

Candidates.insert(1, "Saba")
print(Candidates)

Candidates.remove("Usman")
print(Candidates)

Candidates.clear()
print(Candidates)

Candidates = ["Awais", "Zeba", "Usman", "Aftab", "Ghaffar", "Chinioty"]
print(Candidates)
Candidates.pop()
print(Candidates)


print(Candidates.index("Aftab"))
print(Candidates[2])

Candidates = ["Awais", "Zeba", "Usman", "Zeba", "Zeba", "Aftab", "Ghaffar", "Chinioty", "Usman"]
print(Candidates.count("Zeba"))
print(Candidates.count("Usman"))

Candidates.sort()
print(Candidates)

Lucky_Nos.sort()
print(Lucky_Nos)

Lucky_Nos.reverse()
print(Lucky_Nos)

Friends = Candidates.copy()
print(Friends)

In [0]:
def max_no (x, y, z):
    if x >= y and x >= z:
        return x
    elif y >= x and y >= z:
        return y
    else:
        return z

print (max_no (4,2,5))

In [0]:
num1 = float(input("Enter first number: "))
op   = input("Enter the Operator: ")
num2 = float(input("Enter second number: "))

if op == "+":
    print (num1 + num2)
elif op == "-":
    print(num1 - num2) 
elif op == "*":
    print (num1 * num2)
elif op == "/":
    print (num1 / num2)
else:
    print ("Invalid Operator")

Enter first number: 45
Enter the Operator: /
Enter second number: 5
9.0

In [0]:
MonthConversion = {
    
    "Jan" : "January",
    "Feb" : "Febraury",
    "Mar" : "March",
    "Apr" : "April",
    "May" : "May",
    "Jun" : "June",
    "Jul" : "July",
    "Aug" : "August",
    "Sep" : "September",
    "Oct" : "October",
    "Nov" : "November",
    "Dec" : "December"
}

print (MonthConversion ["Sep"])
print (MonthConversion.get("Dec"))
print (MonthConversion.get("Apr", "Not a valid key"))
print (MonthConversion.get("Luc", "Not a valid key"))

September
December
April
Not a valid key

In [0]:
secret_word = "Awais"
guess = ""

while guess != secret_word:
    guess = input("Enter the word: ")

print ("You Win")

Enter the word: pakitan
Enter the word: Malikd
Enter the word: awais
Enter the word: Awais
You Win

In [0]:
secret_word = "Awais"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = False

while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input ("Enter the Seret Word: ")
        guess_count += 1
    else:
        out_of_guesses = True
        
if out_of_guesses:
    print("Out of Guesses: You Lose")
else:
    print("You Win")

Enter the Seret Word: jsdlfkja
Enter the Seret Word: Awais
You Win